.card {
  position: relative;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  border: 1px solid var(--border);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 36rem;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2.1rem 3.15rem;
  box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05);
  margin-bottom: 1.314rem;
}

.linkCardPost {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.excerpt {
  font-weight: 400;
}

.title {
  font-weight: 900;
}

.cat {
  position: relative;
  z-index: 1000;
  padding: 0.3rem 0.8rem 0.5rem;
  border-radius: 40px;
  transition: 0.5s;
  font-weight: 300;
  color: #ffffff;
  background-color: #3dd28d;
}
