/* Footer Post */
.globalPreviousNext {
  display: flex;
  margin: 0;
  padding-bottom: 3rem;
  line-height: 1;
  justify-content: space-between;
}
.container {
  max-width: 36.4rem;
  margin: 2.1rem auto 0;
  padding: 1rem;
}
.next {
  text-align: right;
}

.previous,
.next {
  max-width: 45%;
}

.previous p,
.next p {
  color: var(--lighter-accent);
}

.previous a {
  display: flex;
  align-items: center;
}

.previous a,
.next a {
  font-weight: bold;
  color: var(--accent);
}
